.input-todo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input-field:focus {
  outline: none;
}

.input-field {
  padding: 15px;
  font-size: 1em;
  color: #fecc02;
  font-weight: 900;
  background-color: #272c34;
  border: 2px solid;
  margin: 15px;
}

.button-submit {
  background-color: #fecc02;
  color: black;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-group label {
  font-size: 0.8em;
}
